<!doctype html>
<html>
<head>
    <title>NodeJS Blog App</title>
    <meta name="description" content="My first NodeJs App">
    <meta name="keywords" content="html tutorial template">
    <!--express.static public yaptığımız için direkt publiğin altındaki uzantılardan arıyor o yüzden css/main dedik-->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

</head>
<body>
    <!--Buradaaki body esj bizim partial dan gelen kodlarımızı içerecek.-->
<div class="container">
    <%-body  %>
</div>
</body>
</html>