<%- include("../partials/_header", {article})%>

<div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
        <div class="block"></div>
        <%- include("../partials/_card", {article,index:undefined})%>
    </div>
</div>

